h1 a{
<<<<<<< HEAD
    
=======

>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
	color: #1E90FF;
	font-family: 'Lobster';
}
body {
    background-color: #FFFFFF;
	/*padding-left: 2em;*/
<<<<<<< HEAD
    margin: 2em 15%;
=======
    margin: 2em 10%;
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
}
.cabecalho {
    background-color: #1E90FF;
    margin-top: 0;
    padding: 1em 1em 1em 2em;
    margin-right: 0.1em;
    border: double;
}
.cabecalho h1, .cabecalho h1 a, .cabecalho h1 a:visited, .cabecalho h1 a:active {
<<<<<<< HEAD
    color: #FFFFFF;
=======
    color: #ffffff;
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
    font-size: 2em;
    text-decoration: none;
    text-shadow: #000 2px 2px 2px;

    /*text-shadow: 1px 0px 0px red, -1px 0px 0px red, 0px 1px 0px red, 0px -1px 0px red; font-size: 200%; font-weight: bold; color: #90EE90;*/
}

.content {
<<<<<<< HEAD
    float: left;
=======
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
    color: #000000;
	margin-left: 0em;
    
	/*text-shadow: #999 1px 2px 2px;*/
}

h1, h2, h4 {
    margin-top: 0;
<<<<<<< HEAD
    
    width: 100%;
}
h2{
    text-shadow: #999 1px 2px 2px;
    margin-left: 3%;
=======
    font-family: 'Lobster', cursive;
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
}
h2{
    
    margin-left: 3%;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}
   
.post-form textarea, .post-form input {
width: 100%;    
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-shadow: #000 2px 2px 2px;
}

.post {
<<<<<<< HEAD
    margin-top: 0.2em;
=======
   
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
    margin-bottom: 0.2em;
    border: double;
    border-color: #394DB2;
    background-color: #E8E8E8;
<<<<<<< HEAD
    
}
.post h1 a:visited {
    color: #0000CD;
    text-align: center;
    
=======
    height: 150px;
    overflow:auto;

}

.post h1 a, .post h1 a:visited {
    
    color: #0000CD;
    
    text-align: center;

>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
}
h3 {
    
    margin-top: 0;
	margin-left: 1em;
}
<<<<<<< HEAD

=======
h4{
    margin-left: 5%;
}
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
h4{
    margin-left: 5%;
}
.cabinst {
    color: red;
    top:5%;
}
.instrucao p{
    color: red;
<<<<<<< HEAD
    
=======

>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47
    margin-left: 2%;
    margin-top: 1%;
    width: 50%;
}
.mosquito {
<<<<<<< HEAD
    position: fixed;
    top: 5%;
    left: 0%;
    /*float: right;
    margin-top: 20%;
    margin-right: 0.1%;*/
    

}
.mosquito2 {
    position: fixed;
    top: 28%;
    left: 0%;
    /*float: right;
    margin-top: 20%;
    margin-right: 0.1%;*/
    
=======
    float: right;
    margin-top: 10%;
    margin-right: 0.1%;
    margin-top: 2%;
>>>>>>> a210fa3066c15eb6c2b35c0c2dc852b980599a47

}
.mosquito3 {
    position: fixed;
    top: 50%;
    left: 0%;
    /*float: right;
    margin-top: 20%;
    margin-right: 0.1%;*/
    

}
.mosquito4 {
    position: fixed;
    top: 75%;
    left: 0%;
    /*float: right;
    margin-top: 20%;
    margin-right: 0.1%;*/
}

.noticia1 {
    position: fixed;
    top: 5%;
    right: 0%;
    /*float: right;
    margin-top: 20%;
    margin-right: 0.1%;*/
/*.embed-container { 
 position: relative; 
 padding-bottom: 56.25%; 
 height: 0; 
 overflow: hidden; 
 max-width: 100%; 
 height: auto; 
 
} */
.youtube {
 position: fixed; 
 top: 15%; 
 right: 0;
}



/*News Letter*/
.newsletter{width: 100%; float: left; background-color: #111; padding: 10px 5%;}
.newsletter h3{font-size: 1.8em; color: #fff;}
.newsletter p{font-size: 1.2em; color: #fff}
.newsletter form{ width: 100%; float: left; margin-top: 10px;}
.newsletter form input{width: 40%; margin-right: 1%; padding: 10px 50px; border: 1px solid #fff;
/*rodape*/
.rodape {width: 100%; float: left; background-color: #49b4f1; padding: 10px 8%}
.rodape p {color: #fff}
